.user-container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  text-align: center;
  margin-top: 50px;
  font-size: 18px;
}

.user-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

.user__img {
  border-radius: 15px;
  border: 3px solid #fff;
  margin-right: auto;
  margin-left: auto;
}

.user__name {
  text-align: center;
}

.back-link {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #ccc;
  width: 50px;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(43, 76, 109);
  font-weight: bold;
}

.back-link:hover {
  background-color: #fff;
  color: rgb(43, 76, 109)
}